body{
    background-position: center;
    background-size: cover;
}
.buttons{
    padding: 7px;
    background-color: white;
    border-radius: 20px;
    color:black;
    font-weight: bold;
    font-family: 'Courier New';
    font-size: 20px;
}
.heading{
    font-size: 25px;
    color:black;

}
